body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  /*padding: 1rem;*/
}

.content-main {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(215, 102, 74, 0.3) 5%, rgba(112, 127, 122, 0.2), rgba(47, 58, 39, 0.3)), url("images/header_sanslogosmall1.png");
  /*background: linear-gradient(rgba(215, 102, 74, 0.5) 5%, rgba(112, 127, 122, 0.5), rgba(47, 58, 39, 0.2)), url("images/header_sanslogosmall2.png");*/
  background-size: cover;
  background-repeat: no-repeat;
}

.main-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  transition: opacity 2s ease;
}

.main-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.main-button img {
  width: 100%;
  border-radius: 50%;
  max-width: 275px;
  min-width: 200px;
}

.social-icons {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.social-icons a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.social-icons a:hover {
  color: #90cf96;
  cursor: pointer;
}

/*Styling modal*/

.modal-wrapper {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(192, 198, 192, 0.55);
}

.modal-content {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 560px;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 1px 3px 44px -17px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 1px 3px 44px -17px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 3px 44px -17px rgba(0, 0, 0, 0.16);
  border-radius: 7px;
  padding: 3rem 6rem;
  text-align: center;
  font-size: 20px;
}

.modal-content img {
  max-width: 150px;
  border-radius: 50%;
}

.modal-content h2 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.modal-content input {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 15px;
  border: 1px solid #BEBEBB;
  padding: 0.5rem;
  box-sizing:border-box;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.modal-content .form-group input {
  width: 50%;
}

.row-submit input {
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.row-submit input:hover {
  background: black;
  color: white;
   border: 1px solid black;
   cursor: pointer;
}

.footer-mail {
  text-decoration: none;
  color: #90cf96;
}

@media only screen and (max-width : 700px) {
  .modal-content {
    max-width: unset;
    width: 80%;
    padding: 2rem;
  }

  .modal-content .form-group input {
    width: 100%;
    max-width: 300px;
  }
}

@media only screen and (max-width : 500px) {
  .modal-content {
    padding: 2rem 1rem;
  }

  .modal-content h2 {
    font-size: 1.2rem;
  }
}